@import url(../css/ranade.css);

:root {
    --c-dark: #212529;
    --c-brand: rgb(247, 43, 7);
    --c-brand-light: rgb(245, 123, 102);
    --c-body: #727272;
    --font-base: "renade", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.1);
    --transition: all 0.5s ease;
    
}

body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);

}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 500;
    color:rgb(35, 36, 36)
}

a{
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);

}
a:hover{
    color: var(--c-brand-light);
}

img{
    max-width: 100%;
    height: auto;
}

.section-padding{
    padding-top: 140px;
    padding-bottom: 140px;
}


/* NAVBAR */

.navbar {
    box-shadow: 0px 15px 25px rgba(0,0,0,0.0.0.7);
}

.navbar ul{
    text-transform: uppercase;
    
}

.navbar-nav .nav-link{
    color:azure;
    font-weight: 600;
    font-size: 13px;
    
}

.navbar-nav .nav-link:hover{
    color: var(--c-brand);
    text-decoration: underline;
    font-size: 14px;
    

}
/* BUTTON */
.btn-discord{
    background-color: rgb(33, 33, 121);
    color: white;
    text-align: center;
    
    font-weight: 300;
    padding: 3px 15px;
}

.btn-login {
    background-color: rgb(65, 8, 197);
    color: white;
    text-align: center;
    font-size: 13px;
}


/* HERO SECTION */

#hero{
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 1)), url(../img/hero1.jpg) ;
    color: azure;
    
}

#hero h5{
    color: rgb(155, 154, 153);
}
#hero a{
    margin-top: 10px;
    background-color: rgb(255, 68, 0);
    border-radius: 5px;
    border: 2px;
    padding: 8px 18px;
    
    
}

/* SERVICIOS  TITULO*/
.section-title{
    margin-bottom: 60px;
}

.section-title .line{
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

}

/* ICONBOX */

.iconbox{
    width: 70px;
    height: 70px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background: rgba(var(--c-brand-rgb), 0.2);
    color: var(--c-brand)
}

.ri-discord-line{
    font-size: 20px;
    
}
.ri-windows-line{
    font-size: 80px;
    color: black;
    padding: 10px;
    
}

.ri-android-line{
    font-size: 80px;
    color: black;
    padding:  10px;
    
}
.ri-macbook-line{
    font-size: 80px;
    color: black;
    border: 10px;
    padding: 10px;
    
}


.contenedor-iconos{
    height: 200px;
   text-align: center;
}